.computery {
  font-family: monospace;
  color: chartreuse;
  background-color: black;
  height: 35em;
  width: 40em;
  padding: 2em 1em;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
